<h1>ENTER DETAILS</h1>
<form class="container ab">
	<div class="form-group">
		<label class="">
			<input class="form-control" type ="file" placeholder="upload">
		</label>
		
	</div>
	<div class="form-group">
		<label class="">EMAIL</label>
		<input class="form-control" type ="email" placeholder="email">
	</div><br/>
	<div class="form-group">
		<label class="">PASSWORD</label>
		<input class="form-control" type="password" placeholder="password">
	</div>
	<button class="btn btn-outline-primary mt-2 bm-2 "> SUBMIT</button>
</form>
<app-child></app-child>