<!--<p>card works!</p> 
<div class="text-center" >
    <p>{{roll_no}}  {{name}}</p>
  <button (click)="dec()" title="smaller">-</button>
    <button (click)="inc()" title="bigger">+</button>
    <label [style.font-size.px]="size" class="card">FontSize: {{size}}px</label>
</div> -->
  
  <div class="card">
    <div class="card-header">{{name}}</div>
    <div class="card-body">
        <h3> NAME : {{name}} </h3>
         <h4>ROLL NO: {{roll_no}}</h4>
        <h4> AGE: {{age}}</h4>
        <h4>BRANCH: {{branch}}</h4>
    </div>
</div>
