

<div class="body">
    
     <app-nav></app-nav>
     <router-outlet></router-outlet>
<!-- hey
<div [style.font-size.px]="fontSizePx" class="text-center AB">Resizable Text</div>
<app-card [size]="fontSizePx" [name]="name" (sizeChange)="fontSizePx=$event"></app-card> -->
<footer class="foot">
                <div >
                    <p class="text-center">We are a startup of a few people and would love to have any new developer with us on the mission
                         to serve the customers with best and quality assured products</p>
                    <h5 class="text-center">Connect with us</h5>
                    <ul class="list-inline  text-center">
                        <li class="list-inline-item"><a href="www.instagram.com/harmnnjot">INSTAGRAM/HARMNNJOT</a></li>
                        <li class="list-inline-item"><a href="www.instagram.com/harmnnjot">Twitter</a></li>
                        <li class="list-inline-item"><a href="www.instagram.com/harmnnjot">Facebook</a></li>
                    </ul>
                    <div class="footer-copyright text-center py-3">© 2020 Copyright:
                    <a href="#"> HARMANJOTSINGH.com</a>
                    </div>
                </div>
    </footer>
  
</div>





