<nav class="navbar navbar-expand-md navbar-dark">
  <span><img class="ml-3" src = "../../assets/logo/img.png "></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="#"><img class="profile-nav" src="../../assets/logo/avatar.png"></a>
          </li>
          <li class="nav-item dropdown dropdown-nav mr-4">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Deeksha
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink = "/home">Home</a>
              <a class="dropdown-item" routerLink = "/page1">Page 1</a>
              <a class="dropdown-item" routerLink = "/page2">Page 2</a>
             
            </div>
          </li>
      </ul>
  </div>
</nav>