<div class="body">
    <app-nav></app-nav>
    <router-outlet></router-outlet>
    <footer class="foot">
        <div>
            <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate officiis modi sed ratione labore omnis explicabo voluptatum, repudiandae saepe suscipit cum quo, vitae dolore natus. Itaque explicabo commodi repellendus quidem deserunt,
                fugit ut.</p>
            <h5 class="text-center">Connect with us</h5>
            <ul class="list-inline  text-center">
                <li class="list-inline-item"><a href="www.instagram.com/harmnnjot">Reema</a></li>
                <li class="list-inline-item"><a href="www.instagram.com/harmnnjot">Twitter</a></li>
                <li class="list-inline-item"><a href="www.instagram.com/harmnnjot">Facebook</a></li>
            </ul>
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="#"> HARMANJOTSINGH.com</a>
            </div>
        </div>
    </footer>
</div>