<div class="">
    <BUTTON class="btn btn-outline-primary mt-2 mb-2 top2">TRY TO TOUCH ME</BUTTON>
  </div> 
  <div class="text-center">
  <button class="btn btn-outline-primary mt-2 mb-2 ">START AMINATION</button>
  <button class="btn btn-outline-warning mt-2 mb-2" >STOP ANIMATION</button>
  </div> 
  <div class="container ab">
      <div class="row  ">
          <div class="col-lg-4 col-md-6">
               <div class="card mt-2 mb-2">
                    <div class="card-header">
                         <h4> TIME </h4>
                    </div>
                    <DIV class="card-img-top">
                         <img src="../../assets/images/demo.jpg">
                    </DIV>
                    <div class="card-body">
                         <h5>It teaches us that everything and everyone moves on. Time is the greatest gift in one's life.</h5>
                          <button class=" btn btn-outline-primary mt-2 mb-2 ">click me</button>
                          <button class=" btn  btn-outline-warning mt-2 mb-2 "> dont click me</button>
                    </div>
  
                </div>
  
          </div>
          <div class="col-lg-4 col-md-6">
               <div class="card mt-2 mb-2">
                    <div class="card-header">
                         <h4>TIME</h4>
                    </div>
                    <DIV class="card-img-top">
                         <img src="../../assets/images/demo.jpg">
                    </DIV>
                    <div class="card-body">
                         <h5>It teaches us that everything and everyone moves on. Time is the greatest gift in one's life.</h5>
                          <button class="btn btn-outline-primary mt-2 mb-2 ">click me</button>
                          <button class="btn btn-outline-warning mt-2 mb-2 "> dont click me</button>
                    </div>
  
                </div>
  
          </div>
          <div class="col-lg-4 col-md-6">
               <div class="card mt-2 mb-2">
                    <div class="card-header">
                         <h4>TIME</h4>
                    </div>
                    <DIV class="card-img-top">
                         <img src="../../assets/images/demo.jpg">
                    </DIV>
                    <div class="card-body">
                         <h5>It teaches us that everything and everyone moves on. Time is the greatest gift in one's life.</h5>
                          <button class="btn btn-outline-primary mt-2 mb-2 ">click me</button>
                          <button class="btn btn-outline-warning mt-2 mb-2 "> dont click me</button>
                    </div>
  
                </div>
  
          </div>
      </div>
  
      <div class="row">
          <div class="col-4">
               <div class="card mt-2 mb-2">
                    <div class="card-header">
                         <h4> TIME</h4>
                    </div>
                    <DIV class="card-img-top">
                         <img src="../../assets/images/demo.jpg">
                    </DIV>
                    <div class="card-body">
                         <h5>It teaches us that everything and everyone moves on. Time is the greatest gift in one's life.</h5>
                          <button class="btn btn-outline-primary mt-2 mb-2 ">click me</button>
                          <button class="btn btn-outline-warning mt-2 mb-2 "> dont click me</button>
                    </div>
  
                </div>
  
          </div>
          <div class="col-4">
               <div class="card mt-2 mb-2">
                    <div class="card-header">
                         <h4> TIME </h4>
                    </div>
                    <DIV class="card-img-top">
                         <img src="../../assets/images/demo.jpg">
                    </DIV>
                    <div class="card-body">
                         <h5>It teaches us that everything and everyone moves on. Time is the greatest gift in one's life.</h5>
                          <button class="btn btn-outline-primary mt-2 mb-2 ">click me</button>
                          <button class="btn btn-outline-warning mt-2 mb-2 "> dont click me</button>
                    </div>
  
                </div>
  
          </div>
          <div class="col-4">
               <div class="card mt-2 mb-2">
                    <div class="card-header">
                         <h4> TIME </h4>
                    </div>
                    <DIV class="card-img-top">
                         <img src="../../assets/images/demo.jpg">
                    </DIV>
                    <div class="card-body">
                         <h5>It teaches us that everything and everyone moves on. Time is the greatest gift in one's life.</h5>
                          <button class="btn btn-outline-primary mt-2 mb-2 ">click me</button>
                          <button class="btn btn-outline-warning mt-2 mb-2 "> dont click me</button>
                    </div>
  
                </div>
  
          </div>
      </div>
      
  </div> 
