<div class="box12">
    <a class="back" [routerLink]="['/page2']">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg> Back to Dashboard
    </a>
</div>
<div class="container top">
    <div class="row">
        <div class="col-4 top_card shadow-lg bg-white rounder ">
            <div class="border1">
                <div class="right">
                    <i class="icon-undo"></i> Change
                </div><br/>
                <div class="row janes">
                    <div class="col-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" fill="currentColor" class="bi bi-shop-window" viewBox="0 0 16 16">
                        <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h12V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zm2 .5a.5.5 0 0 1 .5.5V13h8V9.5a.5.5 0 0 1 1 0V13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.5a.5.5 0 0 1 .5-.5z"/>
                      </svg>
                    </div>
                    <div class="col-10">
                        <div style="font-weight: 500;">Janes Retails</div>
                        <div class="text-muted" style="font-size: small;">30 Shambles Street Bamsley YO17LX</div>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 60px;">
                <div class="col-6 text-center cart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                      </svg> View Basket
                </div>
                <div class="col-6 text-center cart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text icon3" viewBox="0 0 16 16">
                        <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                      </svg>View Suggested
                </div>
            </div>
        </div>
        <div class="col-4 top_card shadow-lg bg-white rounder ">
            <div class="right">
                <i class="icon-remove"></i> Clear
            </div><br/>
            <div class="text-muted">Select Duration</div>
            <div class="row" style="margin-top: 0.5%; border-bottom: 1.7px solid #e3e3e3; padding-bottom: 0.4%;">
                <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 4%; margin-right: 3%;" width="20" height="25" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                    <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                    <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                </svg>
                <input type="text" class="input1" placeholder="16-07-2021" bsDatepicker>
                <div class="text-muted">to</div>
                <input type="text" class="input1" placeholder="25-08-2021" bsDatepicker>
            </div>
            <div class="text-center" style="font-size: small;">OR</div>
            <div class="text-muted" style="font-size: 15px;">Select last order</div>
            <div class="text-muted" style="font-size: 15px;">Select </div>
        </div>
        <div class="shadow-lg bg-white rounder " style="width: 29%;">
            <div class="row">
                <div class="col-3 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: 92%; color:green" width="20" height="22" fill="currentColor" class="bi bi-lightbulb" viewBox="0 0 16 16">
                        <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z"/>
                      </svg>
                </div>
                <div class="col-9" style=" margin-top: 7%;">
                    <div class=" row text-muted" style="font-size: 14px; margin-bottom: 3%;">
                        The acceptance rate
                    </div>

                    <div class="row" style="font-size: 15px;">
                        <div style="font-weight: 650;">30%</div>
                        <div class="text-muted" style="font-weight: 500; padding-left: 2%;">Suggested Products</div>
                    </div>
                    <div class="row" style="font-size: 15px">
                        <div style="font-weight:650;">70%</div>
                        <div class="text-muted" style="font-weight: 500; padding-left: 2%;">Added to Basket</div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<div class="container top  shadow-lg bg-white rounder" style="height: 1080px;">
    <div class="row" style="padding: 2%;">
        <div class="col-7">
            <div class="row">
                <div class="col-4" style="padding-top: 3%;border-bottom: 1px solid #e3e3e3;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" style="color: #4e4e4e;" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
                    <input type="text" style="width: 80%; border: none; font-size: 15px;" placeholder=" Search Products">
                </div>
                <div class="col-4" style="border-bottom: 1px solid #e3e3e3;">
                    <div class="text-muted">Category</div>
                    <div class="" dropdown style="padding-bottom: 2%;">
                        <a id="button-basic" style="color: #4e4e4e; font-weight: 500;font-size: medium; text-decoration: none; width: 100%;" dropdownToggle type="button" aria-controls="dropdown-basic">
                      Bagged Sweets    <span class="caret"></span>
                     <i class="icon-angle-down" style="padding-left: 29%;"></i> 
                </a>

                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item" href="#">Sweets 1</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Sweets 2</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Sweets 3</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">No sweets</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-4" style="border-bottom: 1px solid #e3e3e3;">
                    <div class="text-muted">Products</div>
                    <div class="" dropdown style="padding-bottom: 2%;">
                        <a id="button-basic" style="color: #4e4e4e; font-weight: 500;font-size: medium; text-decoration: none; width: 100%;" dropdownToggle type="button" aria-controls="dropdown-basic">
                      All products   <span class="caret"></span>
                     <i class="icon-angle-down" style="padding-left: 37%;"></i> 
                </a>

                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item" href="#">product 1</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">product 2</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">product 3</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">No product</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="row" style="padding-top: 5%;">
                <div class="col-3 ">
                    <div class="row">
                        <div><input type="checkbox" style="zoom: 1.16;"> </div>
                        <div style="padding-left: 3%; color: #4e4e4e; font-weight: 500;font-size: medium;">Top Sellers</div>
                    </div>
                </div>
                <div class=" col-5">
                    <div class="row">
                        <div><input type="checkbox" style="zoom: 1.16;"> </div>
                        <div style="padding-left: 3%; color: #4e4e4e; font-weight: 500;font-size: medium;"> Selected Products</div>
                    </div>
                </div>
                <div>
                    <i class="icon-list" style="font-size: 22px; color: silver;"></i>
                </div>
                <div style="padding-left: 17%;">
                    <i class="icon-list" style="font-size: 22px; color: silver;"></i>
                </div>
            </div>
        </div>
    </div> <br/>
    <table style="width: 100%;">
        <th style="padding-left: 2%;">
            Product code
        </th>
        <th style="width: 24%;">
            Description
        </th>
        <th style="width: 5%;">
            Unit
        </th>
        <th style="width: 5%;">
            Cost
        </th>
        <th style="width: 5%; ">
            RSP
        </th>
        <th style="width: 7%;">
            Margin
        </th>
        <th>
            Category
        </th>
        <th>
            Last order
        </th>
        <th>
            Order Qty.
        </th>
        <tr *ngFor="let product of products">
            <td style="padding-left: 2%; border-left: 6px solid" [ngStyle]="{'border-color': product.color}">
                <input type="checkbox" style="zoom: 1.16;"> {{product.code}}
            </td>
            <td style="padding-left: 0px;">
                <div class="row">
                    <div class="col-4">
                        <img src="{{product.img}}" style="width: 94%; height: 98%;" alt="kurkre">
                    </div>
                    <div class="col-8" class="foto-content">
                        {{product.description}}
                    </div>
                </div>
            </td>
            <td style="font-size: 15px; padding-right: 0px;">
                {{product.unit}}
            </td>
            <td style="font-size: 15px; padding-right: 0px;">
                {{product.Cost}}
            </td>
            <td style="font-size: 15px; padding-right: 0px;">
                {{product.rsp}}
            </td>
            <td style="font-size: 15px; padding-right: 0px;">
                {{product.Margin}}
            </td>
            <td style="font-size: 15px; padding-right: 0px;">
                {{product.category}}
            </td>
            <td style="font-size: 15px; padding-right: 0px;">
                {{product.date}}
            </td>
            <td style="font-size: 15px; color: #00a3da; padding-right: 0px;">
                <div style="padding-left: 5%;" class="row">
                    <div class="btn btn-outline-danger" (click)="minus(product.index)" style="width: 24px; height: 27px; padding: 0px;">
                        -
                    </div>
                    <div class="text-center" style="width: 19px; height: 27px; background-color:  #ee007f; color: #fff;">{{quantity[product.index-1]}}</div>
                    <div class="btn btn-outline-danger" (click)="plus(product.index)" style="width: 24px; padding: 0px; height: 27px;">+</div>
                </div>
            </td>
        </tr>

    </table><br/>
    <div class="row">
        <div style="width: 15px; height: 15px; border-radius: 2px; background-color: red; margin-left: 2%;"></div>
        <div style="padding-bottom: 5px; font-size: small; font-weight: 500; padding-left: 6px;">Not Ordered</div>
        <div style="width: 15px; height: 15px; border-radius: 2px; background-color: green; margin-left: 2%;"></div>
        <div style="padding-bottom: 5px; font-size: small; font-weight: 500; padding-left: 6px;">Ordered</div>
        <div style="width: 15px; height: 15px; border-radius: 2px; background-color: yellow; margin-left: 2%;"></div>
        <div style="padding-bottom: 5px; font-size: small; font-weight: 500; padding-left: 6px;">Previous Ordered</div>
        <div style="width: 15px; height: 15px; border-radius: 2px; background-color: grey; margin-left: 2%;"></div>
        <div style="padding-bottom: 5px; font-size: small; font-weight: 500; padding-left: 6px;">Already Added to Basket/Suggested Products</div><br/>
        <div style="width: 15px; height: 15px; border-radius: 2px; background-color: rgb(224, 14, 161); margin-left: 2%;"></div>
        <div style="padding-bottom: 5px; font-size: small; font-weight: 500; padding-left: 6px;">in Reatailers Basket</div>
    </div>
    <button class="btn btn-outline-danger btn-bottom mt-2 bm-2 mr-2">Add to Basket</button>
    <button class="btn btn-outline-danger btn-bottom mt-2 bm-2 mr-2">Add to Suggested Products</button>

</div>