<nav class="navbar navbar-light navbar-expand-lg">

    <a class="navbar-brand" href="#">
        <img src="../../assets/logo.png" width="50" height="60" class="d-inline-block align-top logo" alt="">
    </a>
    <div class="box1">
        <img src="../../assets/avtar2.png" class="rounded-circle z-depth-2 profile-image" alt="avtar">
    </div>
    <ul class="nav ">
        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Kevin
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" [routerLink]="['/']">Profile</a>
                <a class="dropdown-item" [routerLink]="['/page2']">Stores</a>
                <a class="dropdown-item" [routerLink]="['/page3']">Products</a>
            </div>
        </li>
    </ul>
</nav>